html{
            height: 100%;
        }

html{
        height: 100%;
 }
 
 body{
        background-image:url(https://imgs.search.brave.com/9RRTO71Do_jXeheC7o9fYnumJgiBc22JHDlaxCX6sp0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzb2suY29t/L2ltYWdlcy9oaWdo/LzRrLW1pbmltYWxp/c3QtZ3JlZW4tYWVz/dGhldGljLWZvcmVz/dC00ZHk5cmRkYjF1/cXhnYjQ2LmpwZw);
            background-repeat: no-repeat;
            background-size:100%;
            background-attachment: fixed;
    background-color: #f1f1b3;
    height: 100%;
    margin: 0;
 }
 
 .nav{
        box-shadow: 0 4px 20px rgba(0,0,0,0.6);
        background-color:#364f33;
        display:flex;
        justify-content:space-between;
        align-items:center;
        margin: 25px;
        border-radius: 40px;
        padding-left: 25px;
        height: 13%;
        font-family: Arial, Helvetica, sans-serif

}
.logo{
        font-size: 3em;
        font-weight: bold;
        margin: 0;
        padding: 10px;
        
        color: #F0E491;
        line-height: 1;
        
}
.box1{
            opacity: 85%;
            transition: background-color 0.3s;
            transition: transform 0.3s ease;
            box-shadow: 0 4px 20px rgba(0,0,0,0.6);
            padding: 1.5%;
            text-align: center;
            float: left;
            background-color:#658C58;
            width:44%;
            height: 70vh;
            border-radius: 40px;
            margin: 1.5%
            
            
}
.box1:hover{
        transform: scale(1.05);
        background-color:#364f33;
}
.box2{
            opacity: 85%;
            transition: background-color 0.3s;
            transition: transform 0.3s ease;
            box-shadow: 0 4px 20px rgba(0,0,0,0.6);
            padding: 1.5%;
            text-align: center;
            float: left;
            background-color:#658C58;
            width:44%;
            height: 70vh;
            border-radius: 40px;
            margin: 1.5%
                    
}
.box2:hover{
        transform: scale(1.05);
        background-color:#364f33;

}
.box3{
            opacity: 85%;
            transition: background-color 0.3s;
            transition: transform 0.3s ease;
            box-shadow: 0 4px 20px rgba(0,0,0,0.6);
            padding: 1.5%;
            text-align: center;
            float: left;
            background-color:#658C58;
            width:44%;
            height: 75vh;
            border-radius: 40px;
            margin: 1.5%
                    
}
.box3:hover{
        transform: scale(1.05);
        background-color:#364f33;

}
.box4{
            opacity: 85%;
            transition: background-color 0.3s;
            transition: transform 0.3s ease;
            box-shadow: 0 4px 20px rgba(0,0,0,0.6);
            padding: 1.5%;
            text-align: center;
            float: left;
            background-color:#658C58;
            width:44%;
            height: 75vh;
            border-radius: 40px;
            margin: 1.5%
                    
}
.box4:hover{
        transform: scale(1.05);
        background-color:#364f33;

}
.text3{
            font-size: 25px;
            color: #F0E491;
        }
.text2{
        font-size: 35px;
        color: #F0E491;
        border-bottom: 3px solid #658C58;
}
.text1{     
        
        padding-top: 5px;
        font-size:45px;
        padding: 0px;
        color: #F0E491;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 3px solid #658C58;
        }
