html{
            height: 100%;
        }
        body{
            background-image:url(https://imgs.search.brave.com/9RRTO71Do_jXeheC7o9fYnumJgiBc22JHDlaxCX6sp0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzb2suY29t/L2ltYWdlcy9oaWdo/LzRrLW1pbmltYWxp/c3QtZ3JlZW4tYWVz/dGhldGljLWZvcmVz/dC00ZHk5cmRkYjF1/cXhnYjQ2LmpwZw);
            background-repeat: no-repeat;
            background-size:100%;
            background-attachment: fixed;
            background-color:#17252d;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .nav{
            box-shadow: 0 4px 20px rgba(0,0,0,0.6);
            background-color:#364f33;
            display:flex;
            justify-content:space-between;
            align-items:center;
            margin: 25px;
            border-radius: 40px;
            padding-left: 25px;
            height: 130px;
            opacity: 85%;
        }

        .logo{
            font-size: 3em;
            font-weight: bold;
            margin: 0;
            padding-top: 10px;
            color: #F0E491;
            line-height: 1;
            padding-bottom:10px;
        }

        .tagline{
            margin-top: 5px;
            font-size: 1.3em;
            color: #F0E491;
            font-style: italic;
            line-height: 1;
        }

        .nav-links {
            width: 60%;
            text-align: right;
        }

        .nav-links a {
            color:#F0E491;
            text-decoration: none;
            font-size: 30px;
            margin-right: 40px;
            border-bottom: 3px solid transparent;
            transition: color 0.3s, border-bottom 0.3s;
        }
        .nav-links a:hover{
            color:#658C58;
            border-bottom: 3px solid #658C58;
        }
        .sample-info1{
            transition: background-color 0.3s;
            transition: transform 0.3s ease;
            box-shadow: 0 4px 20px rgba(0,0,0,0.6);
            padding: 1.5%;
            text-align: center;
            float: left;
            background-color:#658C58;
            width:22%;
            height: auto;
            border-radius: 40px;
            margin: 25px;
            opacity: 85%;
            
        }
        
        .sample-info1:hover{
            transform: scale(1.08);
            background-color: #364f33;
        }
        .sample-info2{
            opacity: 85%;
            transition: background-color 0.3s;
            transition: transform 0.3s ease;
            box-shadow: 0 4px 20px rgba(0,0,0,0.6);
            padding: 1.5%;
            text-align: center;
            float: left;
            background-color:#658C58;
            width:22%;
            height: auto;
            border-radius: 40px;
            margin: 1.5%
            
            
        }
        .sample-info2:hover{
            transform: scale(1.08);
            background-color: #364f33;
        }
        .dyk{
            transition: background-color 0.3s;
            opacity: 85%;
            box-shadow: 0 4px 20px rgba(0,0,0,0.6);
            padding: 30px;
            text-align: center;
            float: right;
            background-color:#658C58;
            width:35%;
            height: 98%;
            border-radius: 40px;
            margin: 25px
            
        }
        .dyk:hover{
            
            background-color: #364f33;
        }
        .info-sum{
            opacity: 75%;
            transition: background-color 0.3s;
            transition: transform 0.3s ease;
            box-shadow: 0 4px 20px rgba(0,0,0,0.6);
            padding: 30px;
            padding-bottom: 1%;
            padding-top: 1%;
            text-align: center;
            float: left;
            background-color:#658C58;
            width:49.5%;
            border-radius: 40px;
            margin: 25px;
            height: auto ;
        
        }
        .info-sum:hover{
            transform: scale(1.04);
            background-color: #364f33;
            
        }
        .footer{
            opacity: 85%;
            padding-top: 3%;
            transition: background-color 0.3s;
            transition: transform 0.3s ease;
            box-shadow: 0 4px 20px rgba(0,0,0,0.6);
            border-radius: 40px;
            float: left;
            margin: 25px;
            background-color: #658C58;
            height: 200px;
            width: 96.5%        
        }   
        .footer:hover{
            transform: scale(1.04);
            background-color: #364f33;
        }
        .text1{
            font-size:20px;
            padding: 0px;
            color: #F0E491;
        }
        .text2{
            font-size: 16px;
            color: #F0E491;
        }
        .text3{
            font-size: 32px;
            color: #F0E491;
        }
        .facts{
            transition: background-color 0.3s;
            transition: transform 0.3s ease;
            border:2px solid #f1f1b3;
            border-radius: 40px;
            color: #F0E491;
            font-size: 32px;
            padding: 30px;
            margin: 15px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .facts:hover{
            transform: scale(1.05);
            background-color:#658C58;
        }
        
        