html{
            height: 100%;
        }

body {
    background-image:url(https://imgs.search.brave.com/9RRTO71Do_jXeheC7o9fYnumJgiBc22JHDlaxCX6sp0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzb2suY29t/L2ltYWdlcy9oaWdo/LzRrLW1pbmltYWxp/c3QtZ3JlZW4tYWVz/dGhldGljLWZvcmVz/dC00ZHk5cmRkYjF1/cXhnYjQ2LmpwZw);
            background-repeat: no-repeat;
            background-size:100%;
            background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-color: #f1f1b3;
    margin: 0;
    padding: 0;
}

.quiz-container {
    background-color: #658C58;
    width: 70%;
    margin: 70px auto;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.25);
    color: #F0E491;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

button {
    background-color: #364f33;
    color: #F0E491;
    border: none;
    padding: 12px 25px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #2c3f29;
}

.option-btn {
    display: block;
    width: 90%;
    margin: 8px auto;
    padding: 10px;
    background-color: #364f33;
    color: #F0E491;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.option-btn:hover {
    background-color: #2c3f29;
}
